python-dotenv
numpy
PyMuPDF
rank-bm25
sentence-transformers
pinecone
groq
fastapi
uvicorn
python-multipart
pydantic
uvicorn

nltk 
spacy 
pinecone-text 
langchain 
langchain-community 
langchain-google-genai